@{
    ViewData["Title"] = "Privacy";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Privacy, cookies, and third party services"]</h3>

<p>
    Privacy, cookies, and third party services
    Our use of your data, cookies, and external services: what you should know, and how to opt out if you want to.

    Summary: We care a lot about our users’ privacy. We provide details below, and we try our hardest to look after the private data that we hold. Like many other websites, we sometimes use cookies and Google Analytics to help us make our websites better. These tools are very common and used by many other sites, but they do have privacy implications, and as a charity concerned with socially positive uses of the internet, we think it’s important to explain them in full. If you don’t want to share your browsing activities on mySociety’s sites with other companies, you can adjust your usage or install opt-out browser plugins.

    Privacy
    Who gets to see my email address?
    If you submit a problem, we pass on your details, and details of the problem, to the council contact or contacts responsible for the area where you located the problem, or other relevant body. Other than the council, who obviously get your email address, only people we authorise to view the FixMyStreet administration interface will be able to see your email address and they will never use it for anything other than to help administer FixMyStreet. Similarly with email addresses from updates. We will never give or sell your email address to anyone else, unless we are obliged to by law. Your name, given in the name field, will not be published anywhere unless you let us (if you give your name elsewhere, e.g. in the public details section, it will be publicly available).
    Will you send nasty, brutish spam to my email address?
    Never. We will email you if someone leaves an update on a problem you’ve reported, and send you a questionnaire email four weeks after you submit a problem, asking for a status update; we’ll only ever send you emails in relation to your problem.
    How do I stop receiving emails from you?
    Every alert email we send contains an unsubscribe link at the bottom for you to stop receiving that alert. After the first questionnaire email on a report, mentioned above, you have to opt in to receive any further questionnaire on that report.
    Cookies
    To make our service easier or more useful, we sometimes place small data files on your computer or mobile phone, known as cookies; many websites do this. We use this information to, for example, remember you have logged in so you don't need to do that on every page, or to measure how people use the website so we can improve it and make sure it works properly. Below, we list the cookies and services that this site can use.
</p>
